.heading{
    text-align: center;
    margin: 15px;
}
.form-control{
  margin: 15px;
}
.form-control::-webkit-input-placeholder{
  color: #000;
}



.center-it{
  position: relative;
}
button{
position: absolute;
left: 50%;
}

@media only screen and (max-width:540px){
  #shiftDown{
    padding-top: 20%;
  }
}
